body,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  background-color: #ffffff;
}

#header {
  text-align: center;
  margin-top: 100px;
  color: #1d3557;
}

main {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 100px;
}

main div {
  margin: 0 20px;
}

/* 
Below are styles for selecting logos as radio btn input 
*/
.car-selector {
  display: flex;
  max-width: 100%;
  text-align: center;
  justify-content: center;
}

.car-selector div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.car-selector p {
  font-size: 1rem;
  margin-bottom: 0;
}

.car-selector input {
  appearance: none;
}

.volkswagen {
  background-image: url(svgs/volkswagen.svg);
}
.bmw {
  background-image: url(svgs/bmw.svg);
}
.alfa {
  background-image: url(svgs/alfa.svg);
}

.car-selector input:active + .car-logo {
  opacity: 0.9;
}

.car-selector input:checked + .car-logo {
  filter: none;
}
.car-logo {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  transition: all 100ms ease-in;
  text-align: center;
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}
.car-logo:hover {
  filter: brightness(1.2) grayscale(0.7) opacity(0.9);
}
/*
End of images as radio button styles
*/

#inputController {
  display: flex;
  justify-content: center;
}

#inputController div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#inputController .infoText {
  display: block;
  text-align: center;
  font-size: 1rem;
}

.inputs {
  max-width: 100%;
  width: 100px;
}

.inputValues {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

#tableController {
  display: flex;
  justify-content: center;
}

/* Table styles */

#infoTable {
  margin-top: 8px;
  border-collapse: collapse;
}

#infoTable td {
  min-width: 180px;
  text-align: center;
}

#infoTable th {
  font-weight: normal;
  padding: 5px;
}

th:nth-child(1) {
  background-color: #1d3557;
  color: #f1faee;
}

th:nth-child(2) {
  background-color: #8d86c9;
  color: #f1faee;
}

th:nth-child(3) {
  background-color: #256d1b;
  color: #ffffff;
}

table td + td {
  border-left: 1px solid #1d3557;
}

table tr:nth-child(2) {
  border-bottom: 1px solid #1d3557;
}

/* Media Query */
@media only screen and (max-width: 1650px) {
  main {
    display: block;
    margin-top: 50px;
    margin-left: 0;
  }
  #header {
    margin-top: 10px;
    font-size: 1.5rem;
  }
  main div {
    margin: 10px;
  }
  .car-selector {
    margin: 0;
  }

  #inputController .infoText {
    font-size: 1rem;
  }

  #infoTable {
    margin-top: 40px;
    font-size: 1rem;
  }
  #infoTable td {
    min-width: 110px;
    text-align: center;
  }
}
